{
  "extends": "airbnb",
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": false,
    "node": true
  },
  "plugins": [
    "import"
  ],
  "rules": {
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"],
    "radix": 0,
    "max-len": 0
  }
}
