dist
build/
docs/dist
node_modules
public/image/*
!/public/image/.gitkeep

.idea
.vscode
.DS_Store
__MACOSX
*.log
*.local.json
*.jwt.js
*.local.yml
yarn.lock

/coverage/*
!/coverage/.gitkeep

/logs/*
!/logs/.gitkeep

/temp/*
!/temp/.gitkeep

/cache/*
!/cache/.gitkeep

/geolitedb/*
!/geolitedb/.gitkeep

/config/local.js
/config/*.local.js

